<h4><%= course.name %></h4>
<p><%= course.description %></p>
<p>This course contains <%= course.questions.count %> questions</p>
<p>Course progress :
<div class="progress large-8 success radius"><span class="meter" style="width:<%= percentage_answered %>%;"></span></div>
</p>
<% if course.incomplete_questions_for_user(current_user).count > 0 then %>
    <%= render :partial => 'revision_continue.html.erb', :locals => {:course => course, :questions_answered => questions_answered} %>
<% else %>
    <%= render :partial => 'revision_complete.html.erb' %>
<% end %>
